<!-- ==== Breadcrumb -->
<div class="breadcrumb-search">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <nav class="col-12 col-md-6" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0" style="min-width:max-content;">
                    <li class="breadcrumb-item"><a href="#" title="Home">Home</a></li>
                    <li class="breadcrumb-item"><a href="#" title="Nossos Cursos">Nossos Cursos</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Graduação</li>
                </ol>
            </nav>
            <!-- /page breadcrumb -->
            <div class="col-12 col-md-6 input-group rounded d-none d-lg-flex">
                <div class="input-group-prepend">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Todos</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Lorem ipsum</a>
                        <a class="dropdown-item" href="#">Lorem ipsum</a>
                        <a class="dropdown-item" href="#">Lorem ipsum</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Lorem ipsum</a>
                    </div>
                </div>
                <input type="search" class="form-control" placeholder="O que você procura?" aria-label="Search" aria-describedby="search-addon" />
            </div>
            <!-- /input -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /breadcrumb-search -->