<!-- ======= Course card ======= -->
<a href="#" title="Licenciamento e Auditoria Ambiental" class="card card-course" data-aos="fade-up" data-aos-delay="100">

    <header class="card-header" style="background-image: url('/assets/img/cursos/foto-curso-dafault.png');">
        <div class="course-types">
            <span class="badge badge-light">Digital</span>
            <span class="badge badge-light">Live</span>
            <span class="badge badge-light">Presencial</span>
            <span class="badge badge-light">Semipresencial</span>
          </div> <!-- /d-flex -->
    </header><!-- /card-header -->

    <div class="card-body">
        <h3 class="card-title">Licenciamento e Auditoria Ambiental</h3>
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, enim at hendrerit pellentesque, orci velit elementum lorem, volutpat ultrices mauris nisl ac ante.
        </p>
    </div><!-- /card-body -->

    <div class="card-footer">
        <ul>
            <li>
                <h4 class="card-subtitle">Certificação:</h4>
                <span class="card-span">Bacharelado</span>
            </li>
            <li>
                <h4 class="card-subtitle">Duração:</h4>
                <span class="card-span">A partir de 4 semestres</span>
            </li>
        </ul>
    </div><!-- /card-footer -->

</a><!-- /card -->